.counter {
    padding: 30px;
    border: 2px solid  rgb(29, 53, 161);
    border-radius: 10px;
    color:  rgb(29, 53, 161);
    font-family: Aharoni sans-serif;
    font-size: 35px;
    text-align: end;
    display: flex;
    justify-content: flex-end;
}

.redMax {
    color: red;
}


.text {
    font-size: 20px;
    color: red;
    justify-content: center;
}
