.setter {
    padding: 10px 10px 15px 10px;
    border: 2px solid  rgb(29, 53, 161);
    border-radius: 10px;
    /*margin: 50px;*/
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button {

}

.values {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid  rgb(29, 53, 161);
    border-radius: 10px;

}

.input {
    margin: 5px;
    padding-left: 10px;
    border-radius: 10px;
    height: 25px;
    width: 80px;
    border: 2px solid  rgb(29, 53, 161);
    font-family: Aharoni sans-serif bolt;
    font-size: 20px;
    color:  rgb(29, 53, 161);
    background-color: #f5a690;
    text-align: center;
    cursor: pointer;
}

.nameValues {
    font-weight: bold;
    font-size: medium;
    color:  rgb(29, 53, 161);
    font-style: normal;
    font-family: sans-serif;

}

.redInput {
    background-color: rgba(108,80,110,0.5);
}