.scoreboard {
    padding: 10px;
    border: 2px solid  rgb(29, 53, 161);
    border-radius: 10px;
    width: 200px;
    height: 160px;

}

.buttons {
    display:flex;
    justify-content: center;
}


